.policy-page {
  padding: 0 20px;
}
.policy-left {
  border: 2px solid #dddddd;
  border-radius: 6px;
  font: normal normal 1.499rem helvetica, Arial, sans-serif;
  height: max-content;
}
.policy-right {
  padding: 20px;
  width: 100%;
  overflow-y: auto;
  border: 1px solid #dddddd;
  border-radius: 6px;
  display: inline-flex;
  font: normal normal 1.499rem helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin-top: 20px;
}
.policy-link {
  display: block;
  padding: 12px;
  text-decoration: none;
  border: 0;
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
  text-align: left;
}
.policy-link:hover {
  color: #076bcf;
}
.policy-link.active {
  background: #e3eeff !important;
}
.policy-item {
  border-bottom: 1px solid #dddddd;
}
.policy-item:has(.active) {
  color: #076bcf;
  border-bottom: 3px solid #076bcf;
  border: 3px solid #076bcf;
  background: #e3eeff !important;
}
.policy-contents {
  display: none;
}
@media screen and (min-width: 767px) {
  .policy-content {
    display: flex;
    margin-top: 10px;
  }
  .policy-left {
    width: 250px;
  }
  .policy-right {
    width: 75%;
    margin-left: 20px;
    margin-top: 0;
  }
}
