// Shared INDBase typography. Preserve units when changing font sizes.
$size-12px: 12px !default;
$size-16px: 16px !default;
$family-heading: Helvetica, sans-serif !default;
$size-30px: 30px !default;
$weight-semibold: 600 !default;
$size-50px: 50px !default;
$size-14px: 14px !default;
$size-10px: 10px !default;
$family-body: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$size-18px: 18px !default;
$weight-medium: 500 !default;
$size-100percent: 100% !default;
$size-15px: 15px !default;
$size-11px: 11px !default;
$size-2-3em: 2.3em !default;
$weight-regular: 400 !default;
$size-2rem: 2rem !default;
$weight-bold-keyword: bold !default;
$weight-bold: 700 !default;
$size-13px: 13px !default;
$style-normal: normal !default;
$family-body-lowercase: verdana, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$family-verdana: Verdana, sans-serif !default;
$preset-regular-1-6rem-sans: normal normal normal 1.6rem Helvetica, Arial, sans-serif !default;
$size-1-6rem: 1.6rem !default;
$weight-revert: revert !default;
$preset-regular-12-5px-sans: normal normal normal 12.5px Helvetica, Arial, sans-serif !default;
$preset-bold-2-8rem-sans: normal normal bold 2.8rem Helvetica, Arial, sans-serif !default;
$preset-bold-20px-line-24px-sans: normal normal bold 20px/24px Helvetica, Arial, sans-serif !default;
$preset-bold-1-4rem-sans: normal normal bold 1.4rem Helvetica, Arial, sans-serif !default;
$size-1-4rem: 1.4rem !default;
$preset-bold-16px-line-19px-sans: normal normal bold 16px / 19px Helvetica, Arial, sans-serif !default;
$family-legacy: 1rem !default;
$family-icons: FontAwesome, Arial, sans-serif !default;
$preset-bold-16px-line-20px-sans: normal normal bold 16px / 20px Helvetica, Arial, sans-serif !default;
$preset-bold-12px-line-14px-sans: normal normal bold 12px / 14px Helvetica, Arial, sans-serif !default;
$preset-bold-14px-line-22px-sans: normal normal bold 14px / 22px Helvetica, Arial, sans-serif !default;
$weight-thin: 100 !default;
$preset-bold-19px-line-14px-icons: normal normal bold 19px / 14px FontAwesome, Arial, sans-serif !default;
$preset-regular-14px-line-1-icons: normal normal normal 14px / 1 FontAwesome, Arial, sans-serif !default;
$preset-regular-14px-line-16px-sans: normal normal normal 14px / 16px Helvetica, Arial, sans-serif !default;
$preset-regular-1-499rem-sans: normal normal 1.499rem helvetica, Arial, sans-serif !default;
